.input__label{
    margin-bottom: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    max-width:396px;
}

.input{
    width:100%;
    padding:0;
    margin: 0;
    border:none;
    border-bottom: 1px solid #424242;
    background: #202020;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 24px;

}
.input:focus {
    transform: scale(1.05);
  }

.input__edit-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input__error {
    border-bottom: 1px solid #FF6838;
    color : #EE3465;
  }