.popup{
        position:fixed;
        background: rgba(0, 0, 0, .5);
        top:0;
        bottom:0;
        right:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: visibility 0.5s, opacity 0.3s linear;
        visibility: hidden;
        opacity: 0; 
    }

    .popup_active {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.5s, opacity 0.3s linear;
      }

      .popup__button-close{
        border:none;
        position:absolute;
        background: url('../../images/Close_Icon.svg');
        background-repeat: no-repeat;
        height: 40px;
        width:40px;
        box-sizing: border-box;
        background-position: center;
        background-size:cover;
        top:-40px;
        right:-40px;
        cursor: pointer;
        transition: 0.3s;
    }
    .popup__button-close:hover{
        opacity: 0.6;
    }

    .popup__container{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        width: 430px;
        box-sizing: border-box;
    }
    
    .popup__image{
        width:120px;
        height: 120px;
        margin: 0 auto;
        margin-top:60px;
        
    }

    .popup__message{
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 60px;
        max-width: 358px;
        color: black;
    }

    

    @media screen and (max-width:768px){
        .popup__container{
            max-width:350px;
        }
        .popup__button-close{
            height: 26px;
            width:26px;
            right: 5px;
            
        }
    }

    @media screen and (max-width:425px){
        .popup__container{
            max-width:282px;
        }
        .popup__message{
            font-size: 18px;
            line-height: 22px;
            margin:25px 22px 75px 22px;
        }
    }