.register{
    max-width: 396px;
    margin:auto;
    padding-top:70px;
    padding-bottom: 100%;
}
.register__input-error{
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    width:396px;
    opacity: 1;
    margin-bottom: 65px;
}
.register__input-error_type_name{
    top:48px;
    left:0;
}
.register__input-error_type_email{
    top:122px;
    left:0;
}
.register__input-error_type_password{
    top:194px;
    left:0;
}
.register__error-submit{
    position: absolute;
    width:100%;
    height: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FF004C;
    top:310px;
    left: 0;
    opacity: 0;
}
.register__error-submit_active{
    opacity: 1;
}
@media screen and (max-width: 768px){
    .register{
        padding-top:232px;
    }
}    

@media screen and (max-width: 500px){
    .register{
        max-width: 260px;
        padding-top: 56px;
    }
}